<% was_validated = message.errors.any? %>

<%= form_with(model: message, local: true, novalidate: true, class: "mb-3") do |f| %>
  <!-- Label and input for content start -->
  <div class="form-group">
    <% content_class = "form-control" %>
    <% content_was_invalid = message.errors.include?(:content) %>

    <% if was_validated %>
      <% if content_was_invalid %>
        <% content_class << " is-invalid" %>
      <% else %>
        <% content_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :content %>
    <!-- Input for content start -->
    <%= f.text_field :content, class: content_class, placeholder: "Enter content" %>
    <!-- Input for content end -->
    <% if content_was_invalid %>
      <% message.errors.full_messages_for(:content).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <!-- Label and input for content end -->
  <!-- Label and input for item_details_id start -->
  <div class="form-group">
    <% item_detail_class = "form-control" %>
    <% item_detail_was_invalid = message.errors.include?(:item_detail) %>

    <% if was_validated %>
      <% if item_detail_was_invalid %>
        <% item_detail_class << " is-invalid" %>
      <% else %>
        <% item_detail_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :item_details_id %>
    <!-- Input for item_details_id start -->
    <%= f.collection_select :item_details_id, Item.all, :id, :to_s, {}, class: "form-control" %>
    <!-- Input for item_details_id end -->
    <% if item_detail_was_invalid %>
      <% message.errors.full_messages_for(:item_detail).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <!-- Label and input for item_details_id end -->
  <!-- Label and input for sender_id start -->
  <div class="form-group">
    <% sender_class = "form-control" %>
    <% sender_was_invalid = message.errors.include?(:sender) %>

    <% if was_validated %>
      <% if sender_was_invalid %>
        <% sender_class << " is-invalid" %>
      <% else %>
        <% sender_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :sender_id %>
    <!-- Input for sender_id start -->
    <%= f.collection_select :sender_id, User.all, :id, :to_s, {}, class: "form-control" %>
    <!-- Input for sender_id end -->
    <% if sender_was_invalid %>
      <% message.errors.full_messages_for(:sender).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <!-- Label and input for sender_id end -->
  <%= f.button class: "btn btn-outline-secondary btn-block" %>
<% end %>
