<div class="card mb-3">
  <h2 class="card-header h4">
    Item List #<%= item_list.id %>
  </h2>

  <div class="card-body">
    <dl class="mb-1">
      <dt>Item details</dt>
      <!-- Display item_details_id start -->
      <dd><%= item_list.item_details_id %></dd>
      <!-- Display item_details_id end -->

    </dl>

    <div class="row">
      <div class="col">
        <%= link_to_show_or_back item_list, '<i class="fas fa-search-plus"></i>'.html_safe, '<i class="fas fa-chevron-left"></i>'.html_safe, class: "btn btn-block btn-outline-secondary" %>
      </div>

      <!-- Edit link item_list start -->
      <div class="col">
        <%= link_to edit_item_list_url(item_list), class: "btn btn-block btn-outline-secondary" do %>
          <i class="fas fa-edit"></i>
        <% end %>
      </div>
      <!-- Edit link item_list end -->

      <!-- Delete link item_list start -->
      <div class="col">
        <%= link_to item_list, method: :delete, data: { confirm: "Do you really want to delete this item_list?" }, class: "btn btn-block btn-outline-secondary" do %>
          <i class="fas fa-trash-alt"></i>
        <% end %>
      </div>
      <!-- Delete link item_list end -->
    </div>
  </div>

  <div class="card-footer text-muted">
    Last updated <%= time_ago_in_words(item_list.updated_at) %> ago
  </div>
</div>
